---
layout: page
title: Programming
description: Posts related to programming
---
<ul id="posts">

	<h2>Dig Deeper in Python</h2>

	{% for post in site.posts %}
		{% if post.description contains "dig-deeper-in-python" %}

			<li class="post">
				<h3><a href="
						{% if site.baseurl == "/" %}
						{{ post.url }}
						{% else %}
						{{ post.url | prepend: site.baseurl }}ss
						{% endif %}">
				{% if post.title %}
				{{ post.title }}
				{% else %}
				{{ post.header }}
				{% endif %}
				</a></h3>
				<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> </time>
			</li>

		{% endif %}
    {% endfor %}

	<h2>E T L</h2>

	{% for post in site.posts %}
	{% if post.description contains "ETL" %}
	  <li class="post">
	  	<h3><a href="
				{% if site.baseurl == "/" %}
				{{ post.url }}
				{% else %}
				{{ post.url | prepend: site.baseurl }}
				{% endif %}">
      {% if post.title %}
        {{ post.title }}
      {% else %}
        {{ post.header }}
      {% endif %}
  		</a></h3>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> </time>
	  </li>
    {% endif %}
	{% endfor %}
</ul>
