---
layout: page
title: Programming
description: Posts related to programming
---
<ul id="posts">

	{% for post in site.posts %}
  	{% if post.description contains "Programming" %}
	  <li class="post">
	  	<h2><a href="
				{% if site.baseurl == "/" %}
				{{ post.url }}
				{% else %}
				{{ post.url | prepend: site.baseurl }}
				{% endif %}">
      {% if post.title %}
        {{ post.title }}
      {% else %}
        {{ post.header }}
      {% endif %}

    </a>
  </h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> </time>
	  	<p>{{ post.content | strip_html | truncatewords:50 }}</p>
	  </li>
    {% endif %}
    {% endfor %}
</ul>
